.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  @media (min-width: 768px) {
    padding: 40px 80px;
  }

  h1 {
    font-size: 20pt;
    color: #333;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 27pt;
    }
  }

  .header-top {
    text-decoration: none;
    font-size: 16pt;
    font-weight: 600;
    color: #333;
  }
}
